html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#text-grid-container {
  flex-grow: 1; /* Fill available space */
  overflow: hidden; /* Hide overflow */
  display: flex; /* Use flexbox */
  justify-content: center;
  align-items: center;
}

#text-grid {
  font-family: 'Courier New', monospace;
  white-space: pre;
  color: white;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

#cli-input {
  flex-shrink: 0; /* Prevent input from shrinking */
  background-color: rgb(26, 26, 26);
  border: none;
  color:white;
  font-family: 'Courier New', monospace;
  font-size: 1em;
  width: 100%;
  align-self: start;
  padding: 0.5em;
  
  /* Additional styling for the input */
}
